/*css reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Bangers', cursive;
}
/*
body{
	background-color: black;
	height: 100vh;*/
}

html {
    position: relative;
    /*min-height: 100%;*/
}

nav{
	overflow: auto;
}

.fixed-top	{
	padding: 2px;
}

#carouselExampleSlidesOnly {
	margin-top: 35px;
	padding-top: 35px;	
}

.space{
	padding: 10px;
}

#text-one{
	margin-top: 35px;
}

#backgroundimage{
	background-image: url(../images/logo.jpg);
	width: 100vw;
	height: 100vh; 
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-position: 50% 50%;
	opacity: 0.9;
}


#pages{
	background-color: black;
	background-size: cover;
	height: 100vh;
	/*margin: 0 0 100px*/

}

#page-text{
	margin-top: 35px;
}



#header1{
	color: white;
	margin: 100px;
	position: relative;
	right: 0 auto;	
}

#button-nav{
	color: white;
}

#navstart{
	margin: 0 auto;
	/*border-radius: 100;*/
	margin-top: 270px;
	/*color: #800040;*/

}

#header2{
	color: white;

}

#font-two{
	font-family: 'Roboto', sans-serif;
}

.card-columns {
	@include media-breakpoint-only(lg) {
		column-count: 4;
	}
	@include media-breakpoint-only(xl) {
		column-count: 5;
	}
}

#social-media a{
	display: flex;
	color: white;
	margin: 1rem;
	font-size: 10px;
	opacity: .75;
}

#social-media a:hover {
	opacity: 1;
}

#formspacing {
	padding: 1px;
}

#modcolor{
	color: black;
	text-align: center;
}

#map{
	justify-content: center;
}

textarea{
	font-family: 'Open Sans', sans-serif;
}

#stick{
	position: absolute;
    left: 0;
    bottom: 0;
    height: 100vw;
    width: 100%;
    margin-top: 100px;
}